<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.ok328.www.srv.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="club.ok328.www.srv.entity.UserInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="created_at" property="createdAt" jdbcType="BIGINT"/>
        <result column="last_modified" property="lastModified" jdbcType="BIGINT"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, created_at, last_modified, email, first_name, last_name, username
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="club.ok328.www.srv.entity.UserInfo">
        insert into user_info (id, created_at, last_modified,
        email, first_name, last_name,
        username)
        values (#{id,jdbcType=BIGINT}, #{createdAt,jdbcType=BIGINT}, #{lastModified,jdbcType=BIGINT},
        #{email,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR},
        #{username,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="club.ok328.www.srv.entity.UserInfo">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="lastModified != null">
                last_modified,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="firstName != null">
                first_name,
            </if>
            <if test="lastName != null">
                last_name,
            </if>
            <if test="username != null">
                username,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=BIGINT},
            </if>
            <if test="lastModified != null">
                #{lastModified,jdbcType=BIGINT},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="club.ok328.www.srv.entity.UserInfo">
        update user_info
        <set>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=BIGINT},
            </if>
            <if test="lastModified != null">
                last_modified = #{lastModified,jdbcType=BIGINT},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                first_name = #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                last_name = #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="club.ok328.www.srv.entity.UserInfo">
        update user_info
        set created_at = #{createdAt,jdbcType=BIGINT},
        last_modified = #{lastModified,jdbcType=BIGINT},
        email = #{email,jdbcType=VARCHAR},
        first_name = #{firstName,jdbcType=VARCHAR},
        last_name = #{lastName,jdbcType=VARCHAR},
        username = #{username,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>